@import "../utilidades/_variables.scss";


/* estilos index */
.post-ver-sale{
    margin: 40px;
  }
  
    
    header {
      background-color: #000000;
      margin-top: 10px;
      margin-bottom: 10px;
      align-content: center;
    }
    
    .logo {
      width: 20%;
      text-align: center;
    }