

$color-negro: #000000;
$color-barra-hover:  #b2afaf;
$color-barra-sale:  #dc143c; 
$color-elegido-border: #515454;


$color-main-div-uno: #545151;
$color-fint-main-div-uno:#f5f5f5;
$color-boton-fondo-div-uno:  #807c7c;
$color-main-div-dos: #ffffff;


$color-section-forms-boton: #f9f9f9; 
$color-direc-hs: #a9a9a9;
$color-final-footer: #f0ffff;


$color-bota-cruella:#808080;


$color-boton-hombre-mujer:#101010;



$padding-boton: 0.5rem;


