@import "../utilidades/_variables.scss";

  /* estilos de contactanos */
  .contacto-titulo-dos{
    margin: 40px;
  }

  .section-contacto {
    margin: 40px;
  }
  
  .portada-contacto {
    width: 100%;
    height: 100%;
  }
  
  .gris-direc-hs {
    color: #a9a9a9;
  }